<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{% block title %}{{ tag.name }}{% endblock %}</h1>
    {% block content %}

    <p>{{ tag.name }}</p>

    <ul>
      {% for post in tag.posts %}
      <!-- <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li> -->
      <li>{{ post.title }}</li>
      {% endfor %}
    </ul>

    <form>
      <button formmethod="GET" formaction="/tags/{{ tag.id }}/edit">
        Edit
      </button>
      <button formmethod="POST" formaction="/tags/{{ tag.id }}/delete">
        Delete
      </button>
    </form>
    {% endblock %}
  </body>
</html>
