<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>
  <body>
    <h1>Users</h1>
    {%for user in users%}
    <ul>
      <!-- {{ user.first_name }} {{ user.last_name }} -->
      <!-- {{ user.first_last_name }} -->
      <a href="/users/{{ user.id }}">{{ user.first_last_name }}</a>
    </ul>
    {%endfor%}
    <form action="/create" method="GET">
      <button type="submit">Add user</button>
    </form>

    <form action="/tags" method="GET">
      <button type="submit">View Tags</button>
    </form>
  </body>
</html>
