<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      {% if user.image_url %}
      <div>
        <img
          src="{{ user.image_url }}"
          alt="{{ user.full_name }}"
          width="200"
          height="200"
        />
      </div>
      {% endif %}

      <div>
        <h1>{{ user.first_last_name }}</h1>

        <form>
          <button formaction="/users/{{ user.id }}/edit" formmethod="GET">
            Edit
          </button>
          <button formaction="/users/{{ user.id }}/delete" formmethod="POST">
            Delete
          </button>
        </form>

        <h2>Posts</h2>
        <ul>
          {% for post in user.posts %}
          <li>
            <a href="/posts/{{ post.id}}">{{ post.title }}</a>
            <small>{{ post.created_date }}</small>
          </li>
          {% endfor %}
        </ul>

        <p>
          <a href="/users/{{ user.id }}/posts/create">Create New Post</a>
        </p>
      </div>
    </div>
  </body>
</html>
